{% extends "layout.html" %}
{% block content %}


    
        <div class="card mb-4 ml-auto mr-auto" style="width: 100%; margin-top: 140px"  data-aos="zoom-in">
            <div class="card-body">
            
               <div class="header-5">
                    <h4 class="text-left">
            			Kontakt - Kreis Viersen
                    </h4>  
                    <p>
            </div>
        <b>Amt für Technischen Umweltschutz - Kommunaler und Privater Gewässerschutz - </b><br> 
         <br>
        <b>Ihr Ansprechpartner:  </b><br>
        Fabian Lindner  <br>
         <br>
        Tel.:        02162 39-1206  <br>
        Fax:        02162 39-1857  <br>
        Rathausmarkt 3  <br>
        41747 Viersen  <br>
        www.kreis-viersen.de  <br>

                    </p>
            </div>
        </div>  
        
        
        <div class="card mb-4 ml-auto mr-auto" style="width: 100%; "  data-aos="zoom-in">
            <div class="card-body">
            
               <div class="header-5">
                    <h4 class="text-left">
            			Kontakt - Kommunal Agentur NRW GmbH
                    </h4>  
                    <p>
            </div>
        <b>Bereich Technik und Umwelt</b><br> 
         <br>
        <b>Ihr Ansprechpartner:  </b><br>
        Dr. Jan Echterhoff <br>
         <br>
        Tel.:        0211 43077-109  <br>
        Mob:        0173 2139017  <br>
        Fax:        0211 43077-77  <br>
        
        Cecilienallee 59  <br>
        40474 Düsseldorf  <br>
        www.kommunalagentur.nrw <br>

                    </p>
            </div>
        </div>          
            {% endblock %}


Kommunal Agentur NRW GmbH
Cecilienallee 59
40474 Düsseldorf

Fon: 0211 / 430 77 109
Mob: 0173 / 213 90 17
Fax: 0211 / 430 77 22



